<br>
<div class="row">
    <div id="imglist">
        <img src="https://eng.kps.ku.ac.th/v3/images/news/public/AnnouceKU_art.jpg" alt="" width="550" height="450" align="Left" hspace="50"><br>
        <br>
        <br>
        <h1>ข้อมูลการติดต่อ</h1>
        <br>
        <h3>มหาวิทยาลัยเกษตรศาสตร์</h3>
        <br>
        <h5>เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว เขตจตุจักร กรุงเทพฯ 10900</h5>
        <h5>
            <img src="https://img.icons8.com/ios-glyphs/30/000000/phone--v1.png" /> &nbsp; 0-2579-0113 &nbsp; 0-2942-8200-45
            <br><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-message.png" />&nbsp;&nbsp;&nbsp;www@ku.ac.th
            <br><img src="https://img.icons8.com/ios-glyphs/30/000000/safari.png" />&nbsp;&nbsp;&nbsp;www.ku.ac.th
        </h5>

    </div>
</div><br>
<div class="row">
    <div id="imglist">
        <img src="https://s.isanook.com/ca/0/ui/279/1395215/58551765_2298744457052307_7280328926633656320_n_1556607247.jpg" alt="" width="550" height="450" align="Right" hspace="50"><br>
        <br>
        <br>
        <h1>สมาคมนิสิตเก่า มหาวิทยาลัยเกษตรศาสตร์ ในพระบรมราชูปถัมภ์</h1>
        <br>
        <h3>มหาวิทยาลัยเกษตรศาสตร์</h3>
        <br>

        <h5>
            <img src="https://img.icons8.com/ios-glyphs/30/000000/phone--v1.png" /> &nbsp;02-579-2419, 02-579-3485, 02-579-5091
            <br><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-message.png" />&nbsp;&nbsp;&nbsp;ku@ku-alumni.org
            <br><img src="https://img.icons8.com/ios-glyphs/30/000000/safari.png" />&nbsp;&nbsp;&nbsp;www.ku-alumni.org
        </h5>

    </div>
</div>